body {
  overflow: hidden;
}

.displayLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50rem;
  text-shadow: 0 0 3rem #000;
  font-family: sans-serif;
  height: 100vh;
  /* vertical-align: top; */
  /* line-height: 0rem; */
  /* margin-trim: 0rem; */
  margin-top: -5rem;
}